<div>

	<form data-ng-submit="gravar(evento)">
		
		Evento: <input type="text" data-ng-model="evento" name="text" />
		
		<input type="submit" id="submit" value="Submit" />
		
	</form>

	<form name="ajax" method="POST" action="">
		<p>
			<a href="javascript:" data-ng-click="listar()"> Listar </a>
		</p>
	</form>

	<div id="zone"></div>
		
	<table>
		<tr>
			<th>Nome</th>
			<th>Email</th>
		</tr>
		<tr data-ng-repeat="evento in eventos">
			<td>{{evento.id}}</td>
			<td>{{evento.nome}}</td>
		</tr>
	</table>
	
</div>